<footer class="container-fluid py-3 rodape" style="height:20vh;background-color: #e607e9;margin-top: 1vh;">
        <div class="">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <h5 style="font-size: 0.8vw;">Rotaes Editora Comercial</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{rodape.urlpgum}}">www.rotaes.com.br</a></li>
                        <li><a class="link-rodape" href="{{rodape.urlpgdois}}">{{ rodape.titulopgdois }}</a></li>
                        <li><a class="link-rodape" href="{{rodape.urlpgtres}}">{{ rodape.titulopgtres }}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <h5 style="font-size: 0.8vw;">Nossa Localização</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="tel:{{ rodape.telefone }}">27 3325-3167</a></li>
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{ rodape.endereco }}">Av.Leitão da Silva 905</a></li>
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{ rodape.endereco }}">{{ rodape.cnpj }}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <h5 style="font-size: 0.8vw;">redes sociais</h5>
                    <ul class="list-unstyled">
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{ rodape.urlredsocum }}" target="_blank">Facebook</a></li>
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{ rodape.urlredsocdois }}" target="_blank">Instagran</a></li>
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{ rodape.urlredsoctres }}" target="_blank">Twiter</a></li>
                        <li><a class="link-rodape" style="font-size: 0.6vw;" href="{{ rodape.urlredsocquatro }}" target="_blank">Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>

